:root {
    --color-primary:            #F92524;
    --color-primary-dark:       #E91B1A;

    --color-grey-light-1:       #B6B8BD;
    --color-grey-light-2:       #ccc;

    --text-color-primary:       #181818;
    --text-color-secondary:     #7A839E;

    --stars-color:              #FFD500;
}

$color-primary: #F92524;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5% */
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

    @media only screen and (max-width: 1400px) {
        font-size: 56.25%; /* 1rem = 9px; 9px/16px = 56.25% */
    }

    @media only screen and (max-width: 1200px) {
        font-size: 50%; /* 1rem = 8px; 8px/16px = 50% */
    }

    @media only screen and (max-width: 1000px) {
        font-size: 43.75%; /* 1rem = 7px; 7px/16px = 43.75% */
    }
}

body {
    box-sizing: border-box;
}